## Twitter data set
Original data* enriched with user characteristics scraped from the Twitter API.

*Ma J, Gao W, Wong KF, editors. Detect Rumors in Microblog Posts Using Propagation Structure via Kernel Learning. The 55th annual meeting of the Association for Computational Linguistics (ACL 2017); 2017.

### Load libraries

In [1]:
import pandas as pd

### Load data

In [2]:
# user data
path_feat = './Twitter15/df_final.csv'
df_feat = pd.read_csv(path_feat, index_col=0)

# only root tweet and author characteristics 
df_root = df_feat[df_feat['depth']==0]
df_root.tail()

,file_name,#followers,user_engagement,verified,depth,user_id1,tweet_id1,t1,user_id2,t2,veracity,resp_time,retw_prob,length,#hashs,#mentions,#URLs,sentiment_score
228138,523939598691741696,26440,41.599219,1,0.0,ROOT,523939598691741696,0.0,58524428,0.0,1,0.0,0.001702,102,0,1,2,0.5411
228237,534205316620382208,229578,18.716981,0,0.0,ROOT,534205316620382208,0.0,292777349,0.0,1,0.0,0.000518,82,0,0,2,0.0000
228368,523558773345255424,1124,8.984467,0,0.0,ROOT,523558773345255424,0.0,311660957,0.0,0,0.0,0.054270,140,1,0,0,-0.5106
228483,559863517151784960,1845314,11.056478,1,0.0,ROOT,559863517151784960,0.0,167421802,0.0,0,0.0,0.000190,82,0,0,0,0.4404
228888,518870005677826050,17401942,61.400081,1,0.0,ROOT,518870005677826050,0.0,3108351,0.0,1,0.0,0.000013,99,0,0,2,0.0000

In [35]:
# pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [23]:
tweet_id_ls = df_root['tweet_id1'].tolist()

In [15]:
# source tweets
path_tweet = './Twitter15/source_tweets.txt'
df_tweet = pd.read_csv(path_tweet, sep="	", header=None)
df_tweet.columns = ['tweet_id1','text']
df_tweet.head()

            tweet_id1                                               text
0  731166399389962242  ðŸ”¥ca kkk grand wizard ðŸ”¥ endorses @hillaryclinto...
1  714598641827246081  an open letter to trump voters from his top st...
2  691809004356501505  america is a nation of second chances â€”@potus ...
3  693204708933160960  brandon marshall visits and offers advice, sup...
4  551099691702956032  rip elly may clampett: so sad to learn #beverl...

In [16]:
# veracity (label)
path_label = './Twitter15/label.txt'
df_label = pd.read_csv(path_label, sep=":", header=None)
df_label.columns = ['label','tweet_id1']
df_label.head()

        label           tweet_id1
0  unverified  731166399389962242
1  unverified  714598641827246081
2   non-rumor  691809004356501505
3   non-rumor  693204708933160960
4        true  551099691702956032

In [42]:
df1 = pd.merge(df_root, df_tweet, on=['tweet_id1'])
df1.head()

,file_name,#followers,user_engagement,verified,depth,user_id1,tweet_id1,t1,user_id2,t2,veracity,resp_time,retw_prob,length,#hashs,#mentions,#URLs,sentiment_score,text
0,489800427152879616,15375121,72.567,1,0.000,ROOT,489800427152879616,0.000,2467791,0.000,0,0.000,0.000,95,0,0,2,-0.318,malaysia airlines says it lost contact with pl...
1,560474897013415936,3673898,55.294,1,0.000,ROOT,560474897013415936,0.000,59553554,0.000,0,0.000,0.000,118,0,1,1,0.840,for just $1 you can get a free jr. frosty with...
2,524928119955013632,1274260,32.033,1,0.000,ROOT,524928119955013632,0.000,19038934,0.000,1,0.000,0.000,133,1,0,0,-0.727,police say they have located car belonging to ...
3,518830518792892416,13955752,64.549,1,0.000,ROOT,518830518792892416,0.000,51241574,0.000,0,0.000,0.000,96,0,0,1,-0.340,mexico security forces hunting 43 missing stud...
4,551117430345711616,189683,24.726,1,0.000,ROOT,551117430345711616,0.000,2280470022,0.000,0,0.000,0.001,96,0,0,2,0.000,news saudi arabia's national airline planning ...

In [47]:
df_final = pd.merge(df1, df_label, on=['tweet_id1'])

# map label values
di = {'false':1, 'true':0}
df_final['label'] = df_final['label'].map(di) 

df_final.head()

,file_name,#followers,user_engagement,verified,depth,user_id1,tweet_id1,t1,user_id2,t2,veracity,resp_time,retw_prob,length,#hashs,#mentions,#URLs,sentiment_score,text,label
0,489800427152879616,15375121,72.567,1,0.000,ROOT,489800427152879616,0.000,2467791,0.000,0,0.000,0.000,95,0,0,2,-0.318,malaysia airlines says it lost contact with pl...,1
1,560474897013415936,3673898,55.294,1,0.000,ROOT,560474897013415936,0.000,59553554,0.000,0,0.000,0.000,118,0,1,1,0.840,for just $1 you can get a free jr. frosty with...,1
2,524928119955013632,1274260,32.033,1,0.000,ROOT,524928119955013632,0.000,19038934,0.000,1,0.000,0.000,133,1,0,0,-0.727,police say they have located car belonging to ...,0
3,518830518792892416,13955752,64.549,1,0.000,ROOT,518830518792892416,0.000,51241574,0.000,0,0.000,0.000,96,0,0,1,-0.340,mexico security forces hunting 43 missing stud...,1
4,551117430345711616,189683,24.726,1,0.000,ROOT,551117430345711616,0.000,2280470022,0.000,0,0.000,0.001,96,0,0,2,0.000,news saudi arabia's national airline planning ...,1

In [48]:
pwd

'/Users/jurriaanparie/Downloads/Documents/AI_Trustworthy_Fairness_Training/Medium_blog/FairerML/AI_Audit_Challenge/data/BERT_fake_news'

In [ ]:
df_pred.to_csv('./data/pred_bert_1.csv', index=False)